<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>
        <span class="login-title"> WELCOME (TO TR) </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
       <mat-tab-group class="mt-5">
    <!-- TAB LOGIN -->
    <mat-tab label="LOGIN">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="flex flex-col h-full mt-4">
        <mat-form-field>
          <mat-label>{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}</mat-label>
          <input matInput formControlName="username" type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'LOGIN.PASSWORD_PLACEHOLDER' | translate }}</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
          {{ 'LOGIN.SUBMIT' | translate }}
        </button>
      </form>
    </mat-tab>

    <!-- TAB REGISTRAZIONE -->
    <mat-tab label="REGISTRAZIONE">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form-container">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'REGISTER.USERNAME' | translate }}</mat-label>
          <input matInput formControlName="username" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'REGISTER.EMAIL' | translate }}</mat-label>
          <input matInput formControlName="email" type="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'REGISTER.PASSWORD' | translate }}</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'REGISTER.CONFIRM_PASSWORD' | translate }}</mat-label>
          <input matInput formControlName="confirmPassword" type="password">
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit">
          {{ 'REGISTER.SUBMIT' | translate }}
        </button>
      </form>
    </mat-tab>
  </mat-tab-group>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button matButton>LIKE</button>
      <button matButton>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
  
  
  <!-- <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">{{ 'LOGIN.EMAIL' | translate }}</label>
      <input
      type="email"
      id="email"
      [(ngModel)]="email"
      name="email"
      required
      placeholder="{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}"
      />
    </div>
    
    <div class="form-group">
      <label for="password">{{ 'LOGIN.PASSWORD' | translate }}</label>
      <input
      type="password"
      id="password"
      [(ngModel)]="password"
      name="password"
      required
      placeholder="{{ 'LOGIN.PASSWORD_PLACEHOLDER' | translate }}"
      />
    </div>
    
    <button type="submit" [disabled]="!loginForm.form.valid">
      {{ 'LOGIN.BUTTON' | translate }}
    </button>
  </form> -->
  
  
  
</div>