@use '@angular/material' as mat;


body {
  color-scheme: light;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  background: var(--mat-sys-primary); // colore di sfondo
  // background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); // blu "cielo"
  overflow: hidden;
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Toolbar style
